---
import discoverCard from '../assets/discover.webp';
import InfoCard from './InfoCard.astro';
const infoList = [
	{
		title: 'Earn 5% Cashback',
		description: 'On everyday purchases at different places you shop each quarter–like grocery stores, restaurants, gas stations, and more–up to the quarterly maximum when you activate.',
	},
	{
		title: '$1 Cashback = $1 to Redeem',
		description: 'Earn cash back you can spend with Discover. One dollar earned is worth one dollar you can spend.',
	},
	{
		title: '$0 Fraud Liability Guarantee',
		description: "You're never responsible for unauthorized purchases on your Discover Card.",
	},
];
---

<div id="container">
	<div class="card">
		<img src={discoverCard.src} alt="Background" width="600px" height="400px"/>
		<a id="apply" href="https://refer.discover.com/grownmanherbal2!626578f516!a" target="_blank">Apply Now</a>
	</div>
	<section>
		{
			infoList.map((info) => (
				<InfoCard title={info.title} description={info.description} />
			))
		}
	</section>
</div>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	#container .card {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
		background: #23233F;
		background: linear-gradient(178deg, rgba(35, 35, 63, 1) 25%, rgba(234, 106, 40, 1) 66%);
	}
	img {
		object-fit: contain;
	}
	a#apply {
		background-color: #23233f;
		color: #fff;
		border: none;
		padding: 15px 30px;
		font-size: 32px;
		font-weight: bold;
		border-radius: 10px;
		cursor: pointer;
		text-decoration: none;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
	}
	a#apply:hover {
		cursor: pointer;
		transition: transform 0.2s;
		transform: scale(1.05);
	}
	
	section {
		display: flex;
		width: 100%;
		justify-content: space-around;
	}
	@media screen and (max-width: 650px) {
		section {
			flex-direction: column;
			gap: 20px;
			align-items: center;
			margin-top: 10px;
		}
		#container {
			padding: 10px;
			height: auto;
		}
		img {
			width: 100%;
			height: auto;
		}
		a#apply {
			font-size: 24px;
			padding: 10px 20px;
			width: 100%;
			text-align: center;
			background-color: #ea6a28;
		}
	}
</style>
